body {
    background: rgb(34,193,195);
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.3em;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
}

/* BACKGROUND COLORS */
.bg-01 {
    background: rgb(195,34,118);
    background: -moz-linear-gradient(90deg, rgba(195,34,118,1) 0%, rgba(253,187,45,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(195,34,118,1) 0%, rgba(253,187,45,1) 100%);
    background: linear-gradient(90deg, rgba(195,34,118,1) 0%, rgba(253,187,45,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c32276",endColorstr="#fdbb2d",GradientType=1);
}

/* LINKS */

a {
    text-decoration: none !important;
}

/* CARD PROPERTIES */
.custom-card {
    background-color: transparent;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.card::-webkit-scrollbar {
    width: 0em;
}

.card::-webkit-scrollbar-track {
    background-color: transparent;
}

.card::-webkit-scrollbar-thumb {
    background-color: #dd7596;
}

.setup-section {
    background-color: transparent;
}

.tutorial-img {
    width: 100%;
}

/* FONTS */
.font-neucha {
    font-family: 'Neucha', cursive;
}

.font-sniglet {
    font-family: 'Sniglet', cursive;
}

.font-overpass {
    font-family: 'Overpass', sans-serif;
}

.font-12px {
    font-size: calc(12px + 0.4vw);
}

/* COLORS */
.custom-color-01 {
    background-color: #22c1c3;
    color: white;
}

.custom-color-02 {
    background-color: #fdbb2d;
    color: white;
}

.custom-color-03 {
    background-color: #00acee;
    color: white;
}

.custom-color-04 {
    background-color: #c32276;
    color: white;
}

